html {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  white-space: pre;
}

a {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #e42d40;
}

a:hover {
  font-style: italic;
}

h1, h2, #news {
  font-weight: 300;
}

#news1 {
  font-size: 1.5em;
  line-height: 1.5em;
}

#news2 {
  font-size: 1.5em;
  line-height: 1.5em;
}