body {
  background-color: #8bb5a9;
  margin: 10px;
  font-family: "Raleway", sans-serif;
}

header, .hTitle, .hSubTile {
  background-color: #FFFFFF;
  margin: 0px 0px 0px 0px;
  padding-top: .5em;
  text-align: left;
}

p {
  padding: 0;
  margin: 0px 0px 0px 10px;
  text-align: left;
}

.nav-ul {
  background-color: #8bb5a9;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-li {
  float: left;
}

.list {
  display: block;
  color: #000;
  text-align: left;
  margin-left: 10px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

li a {
  display: block;
  color: #FFF;
  text-align: left;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #333;
  color: #FFF;
}

a:hover {
  color: #A52A2A;
}

main, section, footer {
  background-color: #FFFFFF;
  margin: 0px;
  padding: 5px;
}

img {
  max-width: 25%;
  max-height: 25%;
  min-width: 10%;
  min-height: 10%;
  display: block;
  float: right;
  height: auto;
  margin: 5px auto 5px auto;
  border: 5px solid #8bb5a9;
}
